.header {
    padding: 20px 0 0;
}
.header__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.header__left {
    max-width: 100%;
    max-height: 100%;
}
.header__img {
    width: 100%;
    aspect-ratio: 1;
}
.header__right {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__title {
    @include h1Title;
}
.header__txt {
    line-height: 20px;
}