.clearingOutVienna {
    padding: 50px 0 0;
}
.clearingOutVienna__box {
}
.clearingOutVienna__title {
    @include h2Title;
}
.clearingOutVienna__txt {
    line-height: 20px;
    margin-bottom: 20px;
}
.clearingOutVienna__txt:last-child {
    margin-bottom: 0;
}
