.cheapClearing {
    padding: 50px 0 0;
}
.cheapClearing__box {
}
.cheapClearing__title {
    @include h2Title;
}
.cheapClearing__txt {
    line-height: 20px;
    margin: 20px 0;
}
.cheapClearing__txt:last-child {
    margin-bottom: 0;
}
.cheapClearing__ul {
    list-style: disc;
    list-style-position: inside;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}